<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    h1,h2,h3,h4,h5{
        color: rgb(0, 126, 222);
    }
  </style>


<body>
  <h1>Columbia University Class Repository</h1>
<h3> Sign In</h3>
<form method="POST" action="/signin">
<p> uni: <input type="text" name="uni"><br>
  <input type="submit" value="Sign In"></p>
</form>

<h3> Register</h3>
<form method="POST" action="/register">
  <p> uni: <input type="text" name="uni"> <br>
    name: <input type="text" name="name"> <br> 
    email: <input type="text" name="email"> <br>
    year: <input type="text" name="year"> <br>
    <input type="submit" value="Register">
  </p>
  </form>
</body>


</html>
